@import "variables"; // absolute paths configured by angular json stylePreprocessorOptions

h1 {
  font-size: $font-size-1;
  line-height: $font-size-1;
}

@media #{$breakpoint-not-xsmall} {
  h1 {
    font-size: 6rem;
    line-height: 6rem;
  }
}

.detail-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.elipses {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
