<div class="app-container">
  <!-- toolbar -->
  <mat-toolbar>
    <div>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <a class="ml2 btn" routerLink="/">Swapi</a>
    </div>
    <div>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <!-- sidenav -->
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'">
      <mat-nav-list>
        <a mat-list-item routerLink="people">People</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="ph7-ns ph3 pv3">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
