<header>
  <h1>Welcome home</h1>
  <p>
    This is a small demo application I put together to with Angular that
    consumes the SWAPI.
  </p>
</header>

<div class="flex justify-center mt5 mt7-ns">
  <fieldset>
    <legend>Quick links</legend>
    <div>
      <button mat-raised-button color="primary" routerLink="people">
        People
      </button>
      <button mat-raised-button color="primary" routerLink="films">
        Films
      </button>
      <button mat-raised-button color="primary" routerLink="planets">
        Planets
      </button>
      <button mat-raised-button color="primary" routerLink="starships">
        Starships
      </button>
      <button mat-raised-button color="primary" routerLink="vehicles">
        Vehicles
      </button>
      <button mat-raised-button color="primary" routerLink="species">
        Species
      </button>
    </div>
  </fieldset>
</div>

<footer class="mt5 mt7-ns">
  <p class="tc">designed and coded by</p>
  <p class="tc">david oriley</p>
</footer>
