@import "variables";

fieldset {
  display: inline-flex;
  justify-content: center;
  div {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    button {
      font-size: $font-size-3;
    }
  }
}

@media #{$breakpoint-not-xsmall} {
  fieldset {
    div {
      grid-template-columns: repeat(3, 200px);
      grid-template-rows: 1fr 1fr;
    }
  }
}
